page-home {

    .back-img{
        background-color: white;
        background:linear-gradient(rgba(240,240,240 , .5), rgba(240, 240 ,240 , .5)), url('../assets/icon/tech-college-logo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        
    }

    .list-back{
        background: none;
        opacity:1.0;
        font-weight: bold;
    }
}
